.Header {
    display: flex;
    padding: var(--space-xl);
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: calc(100% - var(--space-xl)*2);
    background: #000015;
}

.Header .Header_navigation span.Link {
    color: var(--tabs-menu-view-default-outline-color);
    margin-right: var(--space-xl);
    font-size: var(--typography-controls-size-l-font-size);
}

.Header .Header_navigation span.Link:last-child {
    margin-right: 0;
}

.Header .Header_navigation .Link_view_default:not([aria-disabled='true']):hover {
    color: var(--menu-view-default-fill-color-base);
    border-top: 3px var(--link-view-default-outline-color) solid;
}

